body {
    font-family: 'Poppins', sans-serif;
    background-color: #f2f3f7;
    color: #000;
    font-size: 0.9rem;
    font-weight: 500;
}

.form-control{
    outline: none;
}
.form-control:focus, .form-control:active{
    box-shadow: none;
    outline: none;
    box-shadow: none;
  }